h4.title {
    padding: 4px 50px 24px 0px;
}

h4 {
    padding: 14px 50px 14px 50px;
}

.food-add{
    padding-left: 16px;
    padding-right: 16px;
}

.basket-content{
    padding-bottom: 14px;
    padding-top: 14px;
}

.basket-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    font-weight: 400;
    line-height: 1.4;
}

.btn-valid {
    background-color: #ab0f04; 
    border: none;
    border-radius: 5px;
}

ul {
    list-style: none;
}

.btn-quantity{
    color: #ab0f04; 
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ab0f04; 
    width: 24px;
}
.basket-items {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #2e3333;   
    border-bottom: 1px solid #80888895;   
    padding-bottom: 19px;
    padding-top: 14px;
}

ul{
   padding-left: 0px !important;  
}
.fa-trash{
    color: red;
}

.btn-trash{
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}


.card-block{
    margin-top: 104px;
    border: 1px solid rgba(229, 219, 219, 0.777);
    border-radius: 5px;
}


@media only screen and (min-width: 980px){
 
    .card-block{
        align-self: start;
        overflow: hidden;
        position: sticky;
        z-index: 3;
    }
    

}