
<nav class="navbar navbar-expand-md navbar-light bg-white pt-4 pb-3">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
    <img
    src="https://png.pngtree.com/png-clipart/20230509/original/pngtree-fast-delivery-label-design-png-image_9153915.png"
    height="100"
    width="100"
    alt="FastDelivery Logo"
    loading="lazy"
    />  
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      

      <ul class="navbar-nav ms-auto mb-2 mb-md-0">

        <li *ngIf="!isAuth" class="nav-item border rounded me-3"> 
          <a class="nav-link" routerLink="/login">
            <i class="fa-solid fa-house me-1"></i>
            Inscription ou connexion
          </a>
        </li>
      
        <li *ngIf="isAuth" class="nav-item me-3 mt-2" >
          <a routerLink="/checkout">
            <i class="fa-solid fa-cart-shopping"></i>
            <span *ngIf="cartQuantity" class="badge rounded-pill badge-notification bg-danger">{{cartQuantity}}</span>
          </a>
         
        </li>

        <li *ngIf="isAuth" ngbDropdown class="nav-item border rounded">
          <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa-regular fa-user me-2"></i>
            <a>
              {{user.email}} 
            </a>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem routerLink="/orders">Commandes</a>
              <a ngbDropdownItem class="text-danger logout" (click)="logout()">Déconnexion</a>

          </div>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>