<section class="container login-form">
    <div class="d-flex justify-content-center flex-column max-w-500 mx-auto py-5">
        <h2 class="fw-700">Inscription</h2>
       
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <!-- Name input -->
        <div class="form-outline mt-3">
            <label class="form-label" >Nom</label>
            <input type="text" placeholder="par ex. Jhon Cena"  class="form-control" formControlName="name" />
            <div class="error-list" *ngIf="fc.name.errors && isSubmitted">
                <div *ngIf="fc.name.errors.required">ne doit pas être vide</div>
            </div>
        </div>

            <!-- Adresse input -->
        <div class="form-outline mt-3">
            <label class="form-label" >Votre adresse</label>
            <input type="text" placeholder="par ex. 75020"  class="form-control" formControlName="adresse" />
            <div class="error-list" *ngIf="fc.adresse.errors && isSubmitted">
                <div *ngIf="fc.adresse.errors.required">ne doit pas être vide</div>
            </div>
        </div>

            <!-- Email input -->
        <div class="form-outline mt-3">
            <label class="form-label" >email</label>
            <input type="email" placeholder="par ex. elonmusk@aws.com"  class="form-control" formControlName="email" />
            <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                <div *ngIf="fc.email.errors.required">ne doit pas être vide</div>
                <div *ngIf="fc.email.errors.email">email incorrect</div>
            </div>
        </div>


        <!-- Password input -->
        <div class="form-outline  mt-3">
            <label class="form-label" >Mot de passe</label>
            <input placeholder="par ex. 123456 (ou pas)" type="password"  class="form-control" formControlName="password" />
            <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                <div *ngIf="fc.password.errors.required">ne doit pas être vide</div>
                <div *ngIf="fc.password.errors?.minlength">
                    <p style="color: red;">
                      Le mot de passe doit contenir au moins 5 caractères.
                    </p>
                  </div>
            </div>
        </div>


        <!-- Confirm Password input -->
        <div class="form-outline  mt-3">
            <label class="form-label" >Confirmez Mot de passe</label>
            <input placeholder="par ex. 123456 (ou pas)" type="password"  class="form-control" formControlName="confirmPassword" />
            <div class="error-list" *ngIf="fc.confirmPassword.errors && isSubmitted">
                <div *ngIf="fc.confirmPassword.errors.required">ne doit pas être vide</div>
            </div>
        </div>


        <button (click)="submit()" type="submit" [disabled]="isSubmitted" class="mt-3 btn-valid text-white d-flex justify-content-center align-items-center">
            <h4 class="m-0">Se connecter</h4>
        </button>
    </form>
    <p class="mt-3">Vous avez déjà un compte ? <a class="signup" routerLink="/login"  [queryParams]="{returnUrl : returnUrl}"> Connectez-vous</a> 
    </p>
    </div>
</section>