<div class="container d-flex justify-content-center">
    <main> 
  
      <div class="row g-5 mt-5 mb-5 ">
       
        <div class="border rounded p-4 bg-white">
          <h4 class="mb-3">Vérifiez votre commande chez FastDelivery</h4>
            <div class="row g-3">
                <div class="summary">
                    <div>
                      <h3>Nom:</h3>
                      <span>{{order.name}}</span>
                    </div>
                    <div>
                      <h3>Adresse:</h3>
                      <span>{{order.adresse}}</span>
                    </div>
                    <div class="map">
                    <app-map [order]="order" [readonly]="true"></app-map>
                  </div>
                  </div>
            </div>
             <div class=" card-checkout">
                        
          <app-food-list [order]="order"></app-food-list>
        </div>
            <app-pay-button [order]="order">

            </app-pay-button>
        </div>
      </div>
    </main>
  
  </div>