.login-form{
    width: 50%;
}

.btn-valid {
    background-color: #ab0f04; 
    border: none;
    border-radius: 5px;
    padding: 15px 0px;
    text-decoration: none;
    width: 100%;
}

.error-list{
    color: red;
    font-size: 0.95rem;
    
  }


.signup{
    text-decoration: none;
    color: #ab0f04;
}