
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="food" >
       <div class="card-img-top text-center">
         <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
           <img [src]="food.imageUrl" [alt]="food.name" class="img-fluid center-image"/>
       </div>

       <div class="modal-body">
          <h3>{{food.name}}</h3>
          <p>{{food.description}}</p>

        
         
    <div  *ngFor="let option of options" >
        <div class="card-content ">
           <div class="d-flex justify-content-between">
            <div class="checkbox">
              <input id="checkbox4" type="checkbox" class="me-2" disabled>
              <label for="checkbox4">
                {{option.name}}
                          </label>

            </div>
            <div>{{ option.price }} €</div>
            
           </div>
            
        </div>
       
        </div>
        </div>
        <p class="info">*Ajout d'options en cours de préparation ...</p>
        <button type="button" class="btn-valid text-white d-flex justify-content-center align-items-center pt-2 "  (click)="addToCart(food)" disabled><h5>Ajouter</h5></button>
      </div>
    </div>
  </div>